.UpdateCompany {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(44, 44, 44, 0.788);
  text-align: center;
}
.UpdateCompany h2 {
  font-size: 3em;
  color: #ec7272;
  font-family: "Galada", cursive;
}
.UpdateCompany label {
  clear: right;
  width: 250px;
  text-align: left;
}
.UpdateCompany input {
  display: inline-block;
}
.UpdateCompany select {
  display: inline-block;
}
